In [25]:
import pandas as pd
import numpy as np
import ast

### Choose which dataset to clean

In [2]:
# df = pd.read_csv('TFT_Platinum_MatchData.csv')
# df = pd.read_csv('TFT_Diamond_MatchData.csv')
# df = pd.read_csv('TFT_Master_MatchData.csv')
# df = pd.read_csv('TFT_GrandMaster_MatchData.csv')
df = pd.read_csv('TFT_Challenger_MatchData.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79999 entries, 0 to 79998
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gameId          79999 non-null  object
 1   gameDuration    79999 non-null  float64
 2   level           79999 non-null  int64
 3   lastRound       79999 non-null  int64
 4   Ranked          79999 non-null  int64
 5   ingameDuration  79999 non-null  float64
 6   combination     79999 non-null  object
 7   champion        79999 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ MB

In [4]:
df.head()

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4247538593,2142.470703,8,35,1,2134.272217,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [27], 'star': 3}, 'Sona..."
1,KR_4247538593,2142.470703,9,35,2,2134.272217,"{'Blaster': 2, 'Mercenary': 1, 'Rebel': 6, 'Se...","{'Malphite': {'items': [7], 'star': 2}, 'Yasuo..."
2,KR_4247538593,2142.470703,8,34,3,2073.459229,"{'Cybernetic': 1, 'DarkStar': 3, 'Demolitionis...","{'KaiSa': {'items': [99, 2, 23], 'star': 2}, '..."
3,KR_4247538593,2142.470703,8,33,4,1998.146729,"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 1,...","{'KaiSa': {'items': [44, 37], 'star': 2}, 'Ann..."
4,KR_4247538593,2142.470703,9,33,5,1986.443237,"{'Blaster': 2, 'Demolitionist': 2, 'Mercenary'...","{'Ziggs': {'items': [], 'star': 1}, 'Yasuo': {..."

In [5]:
comb_str = df['combination']
res = []

for i in comb_str:
    a = ast.literal_eval(i)
    res.append(a)

In [6]:
com_df = pd.DataFrame(res)

In [7]:
com_df.fillna(0, inplace=True)
com_df = com_df.astype(int)
com_df

,DarkStar,Protector,Rebel,Set3_Celestial,Set3_Mystic,StarGuardian,TemplateTrait,Blaster,Mercenary,Set3_Blademaster,...,Demolitionist,Infiltrator,MechPilot,Set3_Sorcerer,SpacePirate,Chrono,Set3_Void,Sniper,Vanguard,ManaReaver
0,2,4,1,3,4,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,6,0,2,1,0,2,1,3,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,1,0,0,0,0,0,...,1,4,3,2,0,0,0,0,0,0
3,1,0,0,0,0,0,1,1,2,0,...,2,4,3,1,1,0,0,0,0,0
4,0,0,6,1,2,0,0,2,2,2,...,2,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79994,2,0,0,0,0,0,0,0,0,0,...,2,4,3,2,0,0,1,0,0,0
79995,0,0,0,0,0,0,0,1,0,3,...,0,2,0,0,0,2,0,0,1,2
79996,0,0,1,0,0,0,0,0,1,0,...,2,2,1,2,1,2,3,0,0,0
79997,0,1,2,0,0,0,0,4,1,0,...,0,0,0,0,1,2,1,0,0,0
79998,0,2,0,4,0,0,0,0,0,0,...,0,0,0,0,2,0,0,1,1,2

In [8]:
com_df = com_df.reindex(sorted(com_df.columns), axis=1)

In [9]:
champ_str = df['champion']
res_3 = []

for i in champ_str:
    res_2 = {}
    b = ast.literal_eval(i)
    for j in b:
        res_2[j + '_items'] = len(b[j]['items'])
        res_2[j + '_star'] = b[j]['star']
    res_3.append(res_2)

In [10]:
champ_df = pd.DataFrame(res_3)

In [11]:
champ_df.fillna(0, inplace=True)
champ_df = champ_df.astype(int)
champ_df

,JarvanIV_items,JarvanIV_star,Sona_items,Sona_star,Rakan_items,Rakan_star,XinZhao_items,XinZhao_star,Neeko_items,Neeko_star,...,Shen_items,Shen_star,Darius_items,Darius_star,Caitlyn_items,Caitlyn_star,TwistedFate_items,TwistedFate_star,Xerath_items,Xerath_star
0,1,3,1,3,2,3,3,3,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79995,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
79996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
79997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79998,0,0,0,0,1,3,1,3,0,0,...,0,0,3,2,0,0,0,0,0,0

In [12]:
champ_df = champ_df.reindex(sorted(champ_df.columns), axis=1)

In [13]:
f_df = pd.concat([df, com_df, champ_df], axis=1, join='inner')
f_df.drop(columns = ['combination', 'champion'], inplace=True)

In [14]:
f_df.replace({'Ranked' : { 8 : 'Lose', 7 : 'Lose', 6 : 'Lose', 5: 'Lose', 4: 'Lose', 3: 'Win', 2: 'Win', 1: 'Win' }}, inplace=True)

In [15]:
f_df = f_df[f_df['Ranked'] != 0]

### Comment/Uncomment based on selected dataset

In [16]:
# Master, GrandMaster, Challenger
f_df.drop(columns = ['TemplateTrait'], inplace=True)

# # Platinum, Diamond
# f_df.drop(columns = ['TemplateTrait', 'Inferno', 'Mage', 'Mountain', 'Ocean', 'Set2_Assassin', 'Shadow', 'Warden',
#                     'Woodland', 'Berserker', 'Crystal', 'Light', 'Poison', 'Set2_Glacial', 'Set2_Ranger',
#                     'Soulbound', 'Avatar', 'Mystic', 'Set2_Blademaster', 'Summoner', 'Wind', 'Metal', 'Predator',
#                     'Electric', 'Desert', 'Druid', 'Alchemist', 'Celestial'], inplace=True)

In [17]:
# Platinum, Diamond
# f_df.drop(columns = ['Taliyah_items', 'Taliyah_star', 'Vladimir_items', 'Vladimir_star', 'LeBlanc_items', 
#                      'LeBlanc_star', 'Veigar_items', 'Veigar_star', 'Brand_items', 'Brand_star', 'Vayne_items', 
#                      'Vayne_star', 'Senna_items', 'Senna_star', 'Kindred_items', 'Kindred_star', 'Sion_items', 
#                      'Sion_star', 'Twitch_items', 'Twitch_star', 'Olaf_items', 'Olaf_star', 'Taric_items', 
#                      'Taric_star', 'Malzahar_items', 'Malzahar_star', 'Janna_items', 'Janna_star', 'LuxWind_items', 
#                      'LuxWind_star', 'Varus_items', 'Varus_star', 'KogMaw_items', 'KogMaw_star', 'RekSai_items', 
#                      'RekSai_star', 'Skarner_items', 'Skarner_star', 'Nocturne_items', 'Nocturne_star', 'Zyra_items', 
#                      'Zyra_star', 'Diana_items', 'Diana_star', 'QiyanaWoodland_items', 'QiyanaWoodland_star', 'Zed_items', 
#                      'Zed_star', 'Amumu_items', 'Amumu_star', 'Renekton_items', 'Renekton_star', 'Aatrox_items', 
#                      'Aatrox_star', 'Azir_items', 'Azir_star', 'Sivir_items', 'Sivir_star', 'Khazix_items', 'Khazix_star', 
#                      'QiyanaWind_items', 'QiyanaWind_star', 'Braum_items', 'Braum_star', 'LuxGlacial_items', 'LuxGlacial_star',
#                     'Maokai_items', 'Maokai_star', 'Ivern_items', 'Ivern_star', 'DrMundo_items', 'DrMundo_star',
#                     'LuxCrystal_items', 'LuxCrystal_star', 'Singed_items', 'Singed_star', 'Nautilus_items',
#                     'Nautilus_star', 'Ornn_items', 'Ornn_star', 'Volibear_items', 'Volibear_star', 'Yorick_items',
#                     'Yorick_star', 'Nami_items', 'Nami_star', 'Nasus_items', 'Nasus_star', 'Jax_items', 'Jax_star',
#                     'LuxElectric_items', 'LuxElectric_star', 'QiyanaOcean_items', 'QiyanaOcean_star',
#                     'Warwick_items', 'Warwick_star', 'QiyanaInferno_items', 'QiyanaInferno_star', 'LuxMetal_items',
#                     'LuxMetal_star', 'LuxOcean_items', 'LuxOcean_star', 'LuxInferno_items', 'LuxInferno_star',
#                     'LuxWoodland_items', 'LuxWoodland_star', 'LuxShadow_items', 'LuxShadow_star', 'LuxLight_items',
#                     'LuxLight_star'], inplace=True)

In [18]:
f_df.drop(['gameId'], axis=1, inplace=True)

In [19]:
f_df.reset_index(inplace=True)

In [20]:
f_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79999 entries, 0 to 79998
Data columns (total 133 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              79999 non-null  int64
 1   gameDuration       79999 non-null  float64
 2   level              79999 non-null  int64
 3   lastRound          79999 non-null  int64
 4   Ranked             79999 non-null  object
 5   ingameDuration     79999 non-null  float64
 6   Blaster            79999 non-null  int64
 7   Chrono             79999 non-null  int64
 8   Cybernetic         79999 non-null  int64
 9   DarkStar           79999 non-null  int64
 10  Demolitionist      79999 non-null  int64
 11  Infiltrator        79999 non-null  int64
 12  ManaReaver         79999 non-null  int64
 13  MechPilot          79999 non-null  int64
 14  Mercenary          79999 non-null  int64
 15  Protector          79999 non-null  int64
 16  Rebel              79999 non-null  int64
 17  Set3_Blademaster   79999 non-null  int64
 18  Set3_Brawler       79999 non-null  int64
 19  Set3_Celestial     79999 non-null  int64
 20  Set3_Mystic        79999 non-null  int64
 21  Set3_Sorcerer      79999 non-null  int64
 22  Set3_Void          79999 non-null  int64
 23  Sniper             79999 non-null  int64
 24  SpacePirate        79999 non-null  int64
 25  StarGuardian       79999 non-null  int64
 26  Starship           79999 non-null  int64
 27  Valkyrie           79999 non-null  int64
 28  Vanguard           79999 non-null  int64
 29  Ahri_items         79999 non-null  int64
 30  Ahri_star          79999 non-null  int64
 31  Annie_items        79999 non-null  int64
 32  Annie_star         79999 non-null  int64
 33  Ashe_items         79999 non-null  int64
 34  Ashe_star          79999 non-null  int64
 35  AurelionSol_items  79999 non-null  int64
 36  AurelionSol_star   79999 non-null  int64
 37  Blitzcrank_items   79999 non-null  int64
 38  Blitzcrank_star    79999 non-null  int64
 39  Caitlyn_items      79999 non-null  int64
 40  Caitlyn_star       79999 non-null  int64
 41  ChoGath_items      79999 non-null  int64
 42  ChoGath_star       79999 non-null  int64
 43  Darius_items       79999 non-null  int64
 44  Darius_star        79999 non-null  int64
 45  Ekko_items         79999 non-null  int64
 46  Ekko_star          79999 non-null  int64
 47  Ezreal_items       79999 non-null  int64
 48  Ezreal_star        79999 non-null  int64
 49  Fiora_items        79999 non-null  int64
 50  Fiora_star         79999 non-null  int64
 51  Fizz_items         79999 non-null  int64
 52  Fizz_star          79999 non-null  int64
 53  Gangplank_items    79999 non-null  int64
 54  Gangplank_star     79999 non-null  int64
 55  Graves_items       79999 non-null  int64
 56  Graves_star        79999 non-null  int64
 57  Irelia_items       79999 non-null  int64
 58  Irelia_star        79999 non-null  int64
 59  JarvanIV_items     79999 non-null  int64
 60  JarvanIV_star      79999 non-null  int64
 61  Jayce_items        79999 non-null  int64
 62  Jayce_star         79999 non-null  int64
 63  Jhin_items         79999 non-null  int64
 64  Jhin_star          79999 non-null  int64
 65  Jinx_items         79999 non-null  int64
 66  Jinx_star          79999 non-null  int64
 67  KaiSa_items        79999 non-null  int64
 68  KaiSa_star         79999 non-null  int64
 69  Karma_items        79999 non-null  int64
 70  Karma_star         79999 non-null  int64
 71  Kassadin_items     79999 non-null  int64
 72  Kassadin_star      79999 non-null  int64
 73  Kayle_items        79999 non-null  int64
 74  Kayle_star         79999 non-null  int64
 75  KhaZix_items       79999 non-null  int64
 76  KhaZix_star        79999 non-null  int64
 77  Leona_items        79999 non-null  int64
 78  Leona_star         79999 non-null  int64
 79  Lucian_items       79999 non-null  int64
 80  Lucian_star        79999 non-null  int64
 81  Lulu_items         79999 non-null  int64
 82  Lulu_star          79999 non-null  int64
 83  Lux_items          79999 non-null  int64
 84  Lux_star           79999 non-null  int64
 85  Malphite_items     79999 non-null  int64
 86  Malphite_star      79999 non-null  int64
 87  MasterYi_items     79999 non-null  int64
 88  MasterYi_star      79999 non-null  int64
 89  MissFortune_items  79999 non-null  int64
 90  MissFortune_star   79999 non-null  int64
 91  Mordekaiser_items  79999 non-null  int64
 92  Mordekaiser_star   79999 non-null  int64
 93  Neeko_items        79999 non-null  int64
 94  Neeko_star         79999 non-null  int64
 95  Poppy_items        79999 non-null  int64
 96  Poppy_star         79999 non-null  int64
 97  Rakan_items        79999 non-null  int64
 98  Rakan_star         79999 non-null  int64
 99  Rumble_items       79999 non-null  int64
 100 Rumble_star        79999 non-null  int64
 101 Shaco_items        79999 non-null  int64
 102 Shaco_star         79999 non-null  int64
 103 Shen_items         79999 non-null  int64
 104 Shen_star          79999 non-null  int64
 105 Sona_items         79999 non-null  int64
 106 Sona_star          79999 non-null  int64
 107 Soraka_items       79999 non-null  int64
 108 Soraka_star        79999 non-null  int64
 109 Syndra_items       79999 non-null  int64
 110 Syndra_star        79999 non-null  int64
 111 Thresh_items       79999 non-null  int64
 112 Thresh_star        79999 non-null  int64
 113 TwistedFate_items  79999 non-null  int64
 114 TwistedFate_star   79999 non-null  int64
 115 VelKoz_items       79999 non-null  int64
 116 VelKoz_star        79999 non-null  int64
 117 Vi_items           79999 non-null  int64
 118 Vi_star            79999 non-null  int64
 119 WuKong_items       79999 non-null  int64
 120 WuKong_star        79999 non-null  int64
 121 Xayah_items        79999 non-null  int64
 122 Xayah_star         79999 non-null  int64
 123 Xerath_items       79999 non-null  int64
 124 Xerath_star        79999 non-null  int64
 125 XinZhao_items      79999 non-null  int64
 126 XinZhao_star       79999 non-null  int64
 127 Yasuo_items        79999 non-null  int64
 128 Yasuo_star         79999 non-null  int64
 129 Ziggs_items        79999 non-null  int64
 130 Ziggs_star         79999 non-null  int64
 131 Zoe_items          79999 non-null  int64
 132 Zoe_star           79999 non-null  int64
dtypes: float64(2), int64(130), object(1)
memory usage: 81.2+ MB

### Export to .csv

In [121]:
# f_df.to_csv('TFT_Set3_Platinum.csv')
# f_df.to_csv('TFT_Set3_Diamond.csv')
# f_df.to_csv('TFT_Set3_Master.csv')
# f_df.to_csv('TFT_Set3_GrandMaster.csv')
f_df.to_csv('TFT_Set3_Challenger.csv')